:root{
	--white-text:#fff;
	--background:#c8e8f1;
	--black-text:rgb(68, 66, 66)
	--prueba: (180deg,#21c8f6,#637bff);
}

.background1-left-column{
	background: linear-gradient(180deg,#21c8f6,#637bff);
}


.background2-left-column{
	background: linear-gradient(180deg ,#6edcc4,#1aab8b);
}

.background3-left-column{
	background: linear-gradient(180deg ,#FC7D58,#CE512D);
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	border: none;
}


body {
	font-family: Arial, Helvetica, sans-serif;
}

.container{
	display: flex;
	justify-content: center;
	height: 400px;
  align-items: center;
  overflow: hidden;
}

.card {
	background-color:var(--white-text);
	border-radius: 1rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	display: flex;
	margin: 1.5rem;
	overflow: hidden;
	width: 30rem;
	height: 19rem;
  float: left;
}

.card h6 {
	opacity: 0.6;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

.card  h2 {
	letter-spacing: .1rem;
	margin: 1rem 0;
	color: var(black-text);
}

.left-column {
	color: var(--white-text);
	padding: 2rem;
	max-width: 10rem;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left-column h2{
	color: var(--white-text);
}

.left-column i {
	font-size: 5rem
}

.right-column {
	padding: 30px;
	width: 100%;
	display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

}

.right-column p{
	font-size: .9rem;
	color: var(--black-text)
}

.card:hover{
    transform: translateY(-10px);
}

.card:hover .cover__card img{
    transform: scale(1.1);
}

.cover__card{
    width: 100%;
    height: 180px;
    border-radius: 14px;
    overflow: hidden;
}

.cover__card img{
    width: 110%;
    transition: all 300ms;
}

.tituloh1{
  display: flex;
  justify-content: center;
  align-items: center;
	font-size: 2.4em;
	color: #40A4FA;
}



.box__modalidad{
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemsmod a{
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

#avisos{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.avisos_heading{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.avisos_heading span{
	color: #37AFF9
}

.avisos_heading h3{
	font-size: 2.4em;
	color: #4AC7AB;
}

.avisos_container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	flex-wrap: wrap;
}

.avisos_box{
	width: 350px;
	border: 1px solid #ececec;
	margin: 20px;
}

.avisos_img{
	width: 100%;
	height: auto;
}

.avisos_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.avisos_text{
	padding: 30px;
	display: flex;
	flex-direction: column;
}

.avisos_text span{
	color: #95ADC4;
	font-size: 0.9em;

}



.container__cards{
    width:100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    width: 350px;
    margin: 10px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.cards:hover{
    transform: translateY(-10px);
}

.cards:hover .cover__card img{
    transform: scale(1.1);
}

.cover__card{
    width: 100%;
    height: 180px;
    border-radius: 14px;
    overflow: hidden;
}

.cover__card img{
    width: 110%;
    transition: all 300ms;
}

.cards h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #717171;
}

.cards p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #717171;
    letter-spacing: 0.5px;
}

.cards hr{
    margin-top: 30px;
    border: none;
    height: 0.2px;
    background: #41414138;
}

.footer__card{
    margin-top: 10px;
    display: flex;
    color: #717171;
    justify-content: space-between;
}

.footer__card h3{
    font-size: 15px;
    font-weight: 500;
}

@media screen and (max-width:1200px) {
    .container__cards{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        padding-bottom: 100px;
    }
}

/*media queries*/

@media (max-width: 1030px) {
	.container{
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		margin-top: 100px;
		padding-bottom: 100px;
		width:100%;
		height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	}
	.right-column p{
		font-size: .6rem;
		color: var(--black-text)
	}
	.right-column h4{
		font-size: .7rem;
	}
  }
